WebScraping/*

!WebScraping/*.ipynb

!WebScraping/bin/
!WebScraping/data/
!WebScraping/etc/
!WebScraping/include/
!WebScraping/lib/
!WebScraping/share/

!WebScraping/data/*

__pycache__/

*.ipynb_checkpoints
